<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
       <!-- Database connection -->
       <property name="connection.driver.class">oracle.jdbc.driver.OracleDriver</property>
       <property name="connection.url">jdbc:oracle:thin:@localhost:1521:smartbuy</property>
       <property name="connection.username">ariba_buyer</property>
       <property name="connection.password">ariba_buyer2</property>
       <property name="connection.pool_size">1</property> 
       <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">true</property>
		<!--Second level class-->
		<!--<property name="cache.use_second_level_cache">true</property>-->
		<property name="cache.use_query_cache">true</property>
        <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		
		
         <!-- <property name="cache.provider_configuration_file_resource_path">com/hp/col/smartquote/resources/ehcache.xml</property>
		<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>-->
		
		<property name="hbm2ddl.auto">create</property>
		<mapping class="com.hp.ukisme.model.HPSMECompanyInfo"/>
		<mapping class="com.hp.ukisme.model.HPSMEOfferings"/>
		<mapping class="com.hp.ukisme.model.HPSMETechCapability"/>
		<mapping class="com.hp.ukisme.model.HPSMETradingActivities"/>
		<mapping class="com.hp.ukisme.model.HPSMEHistorySubmission"/>
		<mapping class="com.hp.ukisme.model.HPSMEMarketSubmission"/>
				    
    </session-factory>
</hibernate-configuration>
